  <body>
    <header role="banner">
      <nav role="navigation">
        <p class="logo"><a href="index.html" title="Stage de distillation">Stage de distillation</a></p>
        <ul>
          <li class="github">
            <a rel="external" href="https://github.com/arboriculteurs/stage_distillation" title="Github" target="_blank">
              <svg class="fa-github">
                <use xlink:href="#fa-github"></use>
              </svg>
              <em>Github</em>
            </a>
          </li>
          <li class="webslides">
            <a rel="external" href="https://webslides.tv" title="WebSlides" target="_blank">
              <svg class="fa-github">
                <use xlink:href="#fa-film"></use>
              </svg>
              <em>WebSlides</em>
            </a>
          </li>
          <li class="camille">
            <a rel="external" href="https://www.arboriculteurs-lichtenberg.eu" title="Association des Arboriculteurs de Lichtenberg et Environs" target="_blank">
              <svg class="fa-twitter">
                <use xlink:href="#fa-users"></use>
              </svg>
              <em>Association des Arboriculteurs de Lichtenberg et Environs</em>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main role="main">
      <article id="webslides" class="{{site.nav_direction}}">